* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
html {
  background: #000;
  height: 100%;
}
body {
  background: #000;
  background-image: url('https://images.unsplash.com/photo-1568870217912-18f8e402efb3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
  color: #fff;
  display: table;
  height: 100%;
  width: 100%;  
}
.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
h1 {
  text-transform: capitalize;
}
h1 > p {
  font-size: 60px; 
}
.counters {
  margin: 20px;
}
.counter {
  background: #0088ff;
  display: inline-block;
  min-width: 100px;
}
.counter > p {
  text-transform: uppercase;
  background: #0069ff;
  padding: 8px;
}
span {
  display: block;
  height: 125px;
  font-size: 50px;
  line-height: 125px;
}
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
.red{
  color: red;
}
.green{
  color: green;
}